{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ".",
        "alias": {
          "@commons": "./src/commons",
          "@components": "./src/components",
          "@containers": "./src/containers",
          "@supporters": "./src/supporters"
        },
        "extensions": [".js", ".jsx"]
      }
    ]
  ]
}
