body {
    margin: 0;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
    font-size: 14px;
}


/* slide CSS */

.slide-container {
    width: 100%;
    margin: auto;
    position: relative;
}

h3 {
    text-align: center;
}

.each-slide>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
}

.each-fade {
    display: flex;
}

.each-fade .image-container {
    width: 75%;
    overflow: hidden;
}

.each-fade .image-container img {
    width: 100%;
}

.each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
}

.react-slideshow-container+div.indicators {
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.react-slideshow-container+div.indicators>div.active {
    background: white;
}


/* end  slide CSS */